@import "tailwindcss";

:root {
    /* Light mode */
    --color-bg: #ffffff;
    --color-surface: #f8fafc;
    --color-text-main: #0f172a;
    --color-text-muted: #64748b;
    --color-primary: #3b82f6;
}

.dark {
    /* Dark mode */
    --color-bg: #0f172a;
    --color-surface: #1e293b;
    --color-text-main: #f1f5f9;
    --color-text-muted: #94a3b8;
    --color-primary: #60a5fa;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    transition: background-color 0.3s, color 0.3s;
}